# config
fsvector.yml
fsvector.yaml

# binaries
bin/

# environment
.env

# go
*.exe
*.test
*.out
vendor/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.egg-info/

# docker
.docker/

# os
.DS_Store
Thumbs.db

# testing
out.*